.main-dialog {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2em;
  border: 2px solid var(--color-primary);
  margin: 1em;
}

.main-dialog__text {
  max-width: 80ch;
  font-size: 1.2rem;
}

.main-dialog__image {
  height: 300px;
  width: 300px;
  border: 2px solid var(--color-primary);

  >img {
    height: inherit;
  }
}

.main-dialog__options {
  list-style: none;
  display: flex;
  gap: 1em;
  padding: 0;

  >li {
    border: 2px solid var(--color-primary);

    >a {
      display: inline-block;
      text-decoration: none;
      color: var(--color-primary);
      padding: 1em;
      width: 100%;
      box-sizing: border-box;


      &:visited {
        color: var(--color-primary);
      }
    }

    &:hover {
      background-color: var(--color-primary);

      >a {
        color: var(--color-secondary);
      }
    }
  }
}

@media (max-width: 480px) {
  .main-dialog {
    border: none;
  }

  .main-dialog__options {
    flex-direction: column;

    width: 100%;
  }
}
