.main-dialog {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2em;
  border: 2px solid var(--color-primary);
  margin: 1em;
}

.main-dialog__text {
  max-width: 80ch;
  font-size: 1.2rem;
}

.main-dialog__image {
  height: 300px;
  width: 300px;
  border: 2px solid var(--color-primary);

  >img {
    height: inherit;
  }
}

/* The buttons/links player clicks to decide where to go next */
.main-dialog__options {
  list-style: none;
  display: flex;
  gap: 1em;
  padding: 0;

  >li {
    border: 2px solid var(--color-primary);

    >a {
      display: inline-block;
      text-decoration: none;
      color: var(--color-primary);
      padding: 1em;
      width: 100%;
      box-sizing: border-box;


      &:visited {
        color: var(--color-primary);
      }
    }

    &:hover {
      background-color: var(--color-primary);

      >a {
        color: var(--color-secondary);
      }
    }
  }
}

/* Hide the main dialog border when it would look bad */
@media (max-height: 800px) or ((max-width: 1000px) and (max-height: 1300px)) {
  .main-dialog {
    border: none;
    margin: 0;
  }
}

/* phone layout */
@media (max-width: 480px) {
  .main-dialog {
    padding: 0 2em;
  }

  .main-dialog__options {
    flex-direction: column;
    width: 100%;
  }
}
