.main-dialog {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2em;
  margin: 1em;
  border: 2px solid var(--color-primary);
}

.main-dialog__text {
  max-width: 80ch;
  font-size: 1.2rem;
}

/* wrapper to be able to have image and options side by side
* it's used for the phone landscape layout, here it behaves like it doesn't exist */
.main-dialog__imageoptionswrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-dialog__image {
  border: 2px solid var(--color-primary);

  >img {
    max-width: 100%;
    max-height: 25em;

    /* remove little whitespace at the bottom:
    * I spent too much time figuring this out*/
    display: block;

    /* mainly to align with the options on mobile view: */
    box-sizing: border-box;
  }
}

/* The buttons/links player clicks to decide where to go next */
.main-dialog__options {
  list-style: none;
  display: flex;
  gap: 1em;
  padding: 0;

  >li {
    border: 2px solid var(--color-primary);

    >a {
      display: inline-block;
      text-decoration: none;
      color: var(--color-primary);
      padding: 1em;
      width: 100%;
      box-sizing: border-box;


      &:visited {
        color: var(--color-primary);
      }
    }

    &:hover {
      background-color: var(--color-primary);

      >a {
        color: var(--color-secondary);
      }
    }
  }
}

/* Hide the main dialog border when it would look bad */
@media (max-height: 800px) or ((max-width: 1000px) and (max-height: 1300px)) {
  .main-dialog {
    border: none;
    margin: 0;
  }
}

/* phone layout */
@media (max-width: 480px) {
  .main-dialog {
    padding: 0 2em;
    margin: 0;
    border: none;
  }

  .main-dialog__options {
    flex-direction: column;
    width: 100%;
  }
}

/* layout on screen with small height but bigger width
* e.g. phone in landscape mode */
@media (min-width: 750px) and (max-height: 500px) {
  .main-dialog__imageoptionswrapper {
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
    gap: 1em;
  }

  .main-dialog__image>img {
    max-height: min(60vh, 25em);
  }

  .main-dialog__options {
    flex-direction: column;
  }
}
